<a href="https://colab.research.google.com/github/Shivam-Ra/EDA/blob/main/bins%2Cjoins%2Chandling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

db = pd.read_csv('21BCE3727.csv')

In [ ]:
age = db['age'].tolist()
bins_age = [ 30, 35, 40, 45, 50,55,60]
age_category = pd.cut(age, bins_age)
print("Age Category:\n", age_category)

Age Category:
 [(30.0, 35.0], NaN, (30.0, 35.0], (30.0, 35.0], (30.0, 35.0], ..., (35, 40], (30, 35], (40, 45], (55, 60], (35, 40]]
Length: 753
Categories (6, interval[int64, right]): [(30, 35] < (35, 40] < (40, 45] < (45, 50] < (50, 55] <
                                         (55, 60]]

In [ ]:
# Check the number of values in each bin
print("\nCount of Age Categories:\n", pd.Series(age_category).value_counts())

Count of Age Categories:
 (30, 35]    148
(40, 45]    144
(45, 50]    144
(35, 40]    132
(50, 55]    104
(55, 60]     43
Name: count, dtype: int64

In [ ]:

random_numbers = np.random.rand(2000)
quantile_bins = pd.qcut(random_numbers, 6)
print("\nQuantile Bins:\n", quantile_bins)
print("\nCount of Quantile Bins:\n", pd.Series(quantile_bins).value_counts())

Quantile Bins:
 [(0.487, 0.662], (0.487, 0.662], (0.83, 0.999], (0.166, 0.33], (0.33, 0.487], ..., (0.487, 0.662], (0.166, 0.33], (-0.000595, 0.166], (0.33, 0.487], (0.83, 0.999]]
Length: 2000
Categories (6, interval[float64, right]): [(-0.000595, 0.166] < (0.166, 0.33] < (0.33, 0.487] <
                                           (0.487, 0.662] < (0.662, 0.83] < (0.83, 0.999]]

Count of Quantile Bins:
 (-0.000595, 0.166]    334
(0.83, 0.999]         334
(0.166, 0.33]         333
(0.33, 0.487]         333
(0.487, 0.662]        333
(0.662, 0.83]         333
Name: count, dtype: int64

In [ ]:
# Calculate TotalIncome based on Faminc and CCAvg
db['TotalIncome'] = db['faminc'] + db['wage'] * 1000  # Adjusted calculation for Faminc
print("\nAccount and Total Income:\n", db[['rownames', 'TotalIncome']])

Account and Total Income:
      rownames   TotalIncome
0           1  19664.000092
1           2  23188.900042
2           3  25585.499802
3           4   8396.500039
4           5  31891.800213
..        ...           ...
748       749           NaN
749       750           NaN
750       751           NaN
751       752           NaN
752       753           NaN

[753 rows x 2 columns]

In [ ]:
# Set the threshold for TotalIncome (you can change this value as needed)
threshold = 30000

# Filter the DataFrame for rows where TotalIncome exceeds the threshold
high_income_transactions = db[db['TotalIncome'] > threshold]

# Display the transactions that exceeded the threshold
print("\nTransactions exceeding the TotalIncome threshold:\n", high_income_transactions[['rownames', 'TotalIncome']])

Transactions exceeding the TotalIncome threshold:
      rownames   TotalIncome
4           5  31891.800213
10         11  36363.000202
11         12  33291.800213
14         15  35110.699898
20         21  33924.199909
..        ...           ...
414       415  34342.700028
416       417  42266.900063
424       425  40947.099892
425       426  40087.499828
426       427  33409.100056

[149 rows x 2 columns]

In [ ]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40]
})

df2 = pd.DataFrame({
    'ID': [3, 4, 5, 6],
    'Name': ['Charlie', 'David', 'Edward', 'Frank'],
    'Income': [50000, 60000, 70000, 80000]
})

In [ ]:
# 1. Concatenation
concat_df = pd.concat([df1, df2], ignore_index=True)
print("Concatenated DataFrame:\n", concat_df)

Concatenated DataFrame:
    ID     Name   Age   Income
0   1    Alice  25.0      NaN
1   2      Bob  30.0      NaN
2   3  Charlie  35.0      NaN
3   4    David  40.0      NaN
4   3  Charlie   NaN  50000.0
5   4    David   NaN  60000.0
6   5   Edward   NaN  70000.0
7   6    Frank   NaN  80000.0

In [ ]:
# 2. Left Join
left_join_df = pd.merge(df1, df2, on='ID', how='left')
print("\nLeft Join DataFrame:\n", left_join_df)

Left Join DataFrame:
    ID   Name_x  Age   Name_y   Income
0   1    Alice   25      NaN      NaN
1   2      Bob   30      NaN      NaN
2   3  Charlie   35  Charlie  50000.0
3   4    David   40    David  60000.0

In [ ]:
# 3. Right Join
right_join_df = pd.merge(df1, df2, on='ID', how='right')
print("\nRight Join DataFrame:\n", right_join_df)

Right Join DataFrame:
    ID   Name_x   Age   Name_y  Income
0   3  Charlie  35.0  Charlie   50000
1   4    David  40.0    David   60000
2   5      NaN   NaN   Edward   70000
3   6      NaN   NaN    Frank   80000

In [ ]:
# 4. Inner Join
inner_join_df = pd.merge(df1, df2, on='ID', how='inner')
print("\nInner Join DataFrame:\n", inner_join_df)

Inner Join DataFrame:
    ID   Name_x  Age   Name_y  Income
0   3  Charlie   35  Charlie   50000
1   4    David   40    David   60000

In [ ]:


# Create a DataFrame with a multi-level (hierarchical) index
data = {
    'City': ['New York', 'New York', 'London', 'London'],
    'Year': [2020, 2021, 2020, 2021],
    'Population': [8_336_817, 8_398_748, 8_982_000, 9_002_488],
    'GDP': [1700, 1800, 650, 700]
}

df = pd.DataFrame(data)

# Set City and Year as a MultiIndex
df.set_index(['City', 'Year'], inplace=True)
print("Original DataFrame with MultiIndex:\n", df)

Original DataFrame with MultiIndex:
                Population   GDP
City     Year
New York 2020     8336817  1700
         2021     8398748  1800
London   2020     8982000   650
         2021     9002488   700

In [ ]:
# Using unstack() to pivot data (move the inner index 'Year' to columns)
unstacked_df = df.unstack(level='Year')
print("\nUnstacked DataFrame (Year as columns):\n", unstacked_df)

Unstacked DataFrame (Year as columns):
          Population            GDP
Year           2020     2021  2020  2021
City
London      8982000  9002488   650   700
New York    8336817  8398748  1700  1800

In [ ]:
#Using stack() to collapse columns into rows (reverse of unstack)
stacked_df = unstacked_df.stack()
print("\nStacked DataFrame (Collapsed back to original):\n", stacked_df)

Stacked DataFrame (Collapsed back to original):
                Population   GDP
City     Year
London   2020     8982000   650
         2021     9002488   700
New York 2020     8336817  1700
         2021     8398748  1800

In [ ]:
#Pivot table (Reshape the data by City and Year)
pivot_df = df.reset_index().pivot(index='City', columns='Year', values='Population')
print("\nPivoted DataFrame (Population by Year and City):\n", pivot_df)

Pivoted DataFrame (Population by Year and City):
 Year         2020     2021
City
London    8982000  9002488
New York  8336817  8398748

In [ ]:
# Replacing values
# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Gender': ['F', 'M', 'M', 'M'],
    'Age': [25, 30, 35, -999],
    'Income': [50000, 60000, -1, 80000]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)


# Replacing single values (replace 'M' with 'Male' and 'F' with 'Female' in Gender column)
df['Gender'].replace({'M': 'Male', 'F': 'Female'}, inplace=True)
print("\nDataFrame after replacing gender abbreviations:\n", df)

#Replacing multiple values at once across the entire DataFrame
df.replace([60000, 80000], [62000, 82000], inplace=True)
print("\nDataFrame after replacing multiple income values:\n", df)

Original DataFrame:
       Name Gender  Age  Income
0    Alice      F   25   50000
1      Bob      M   30   60000
2  Charlie      M   35      -1
3    David      M -999   80000

DataFrame after replacing invalid values with NaN:
       Name Gender   Age Income
0    Alice      F    25  50000
1      Bob      M    30  60000
2  Charlie      M    35   <NA>
3    David      M  <NA>  80000

DataFrame after replacing gender abbreviations:
       Name  Gender   Age Income
0    Alice  Female    25  50000
1      Bob    Male    30  60000
2  Charlie    Male    35   <NA>
3    David    Male  <NA>  80000

DataFrame after replacing multiple income values:
       Name  Gender   Age Income
0    Alice  Female    25  50000
1      Bob    Male    30  62000
2  Charlie    Male    35   <NA>
3    David    Male  <NA>  82000

In [ ]:
# 1. Check for missing values in the entire DataFrame
print("\nChecking for missing values in the entire DataFrame:\n")
print(df.isnull())

# 2. Count the total number of missing values in each column
print("\nTotal missing values per column:\n")
print(df.isnull().sum())

Checking for missing values in the entire DataFrame:

    Name  Gender    Age  Income
0  False   False  False   False
1  False   False  False   False
2  False   False  False    True
3  False   False   True   False

Total missing values per column:

Name      0
Gender    0
Age       1
Income    1
dtype: int64

In [ ]:
# Drop rows where the 'Income' column has missing values
df_cleaned = df.dropna(subset=['Income'])

print("\nDataFrame after dropping rows with missing 'Income':\n", df_cleaned)

DataFrame after dropping rows with missing 'Income':
     Name  Gender   Age Income
0  Alice  Female    25  50000
1    Bob    Male    30  62000
3  David    Male  <NA>  82000

In [ ]:
# Calculate the mean of the 'Age' column, ignoring NaN values
mean_age = df['Age'].mean()

# Replace missing values in 'Age' with the calculated mean
df_cleaned['Age'].fillna(mean_age, inplace=True)

print("\nDataFrame after replacing missing 'Age' with mean:\n", df_cleaned)

DataFrame after replacing missing 'Age' with mean:
     Name  Gender   Age Income
0  Alice  Female  25.0  50000
1    Bob    Male  30.0  62000
3  David    Male  30.0  82000

<ipython-input-41-175ccf3280c7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Age'].fillna(mean_age, inplace=True)

# New Section